/* 
.src-TaggedContentCard-CardContent-styles-module__card-content--ZfzZ5 .src-TaggedContentCard-CardContent-styles-module__text--UF7Sq .src-TaggedContentCard-CardContent-styles-module__description--aqzfR {

padding: 10px;
}

.src-TaggedContentCard-styles-module__tagged-content-card--OZvmV {
    width: 350px;
    height: 100px;
} */